@import url('https://fonts.googleapis.com/css2?family=Cuprum&family=Ubuntu&display=swap');

*, *:before, *:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  color: #fff;
  font-size: 24px;
  line-height: 24px;
  overflow: hidden;
  height: 100vh;
}

p {
  margin: 15px 0px 20px 0px;
  font-family: 'Ubuntu', sans-serif;
}

a {
  text-decoration: none;
  color: #CC0000;
  white-space: nowrap;
}

a:active {
  color: #990000;
}

a:hover {
  color: inherit;
}

nav a {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  color: #fff;
  text-decoration: none;
  padding: 10pt;
  text-align: center;
}
nav a:active {
  background-color: #990000;
}

nav a:hover {
  background-color: #990000;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 50pt;
  z-index: 11;
  justify-content: space-around;
  height: 100vh;
  background: #CC0000;
  font-family: 'Cuprum', sans-serif;
}

section {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 60pt;
  top: 0;
  height: 100vh;
  width: 0;
  opacity: 0;
  transition: all ease-in .5s;
} 

section h1 {
  color: #fff;
  font-size: 50px;
  /*text-transform: uppercase;*/
  opacity: 0;
  padding-top: 0pt;
  font-family: 'Cuprum', sans-serif;
}

section:target {
  opacity: 1;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

section:target h1 {
  opacity: 0;
  animation: 2s fadeIn forwards .5s;
}

.container {
  margin: 0 auto;
  padding: 50px 15px;
  background: #191919;
  min-height: 100vh;
  font-family: 'Ubuntu', sans-serif;
}

.title {
  margin: 15px 0px 20px 0px;
}

.text {
  margin: 0px 0px 80px 0px;
}

.text__image {
  max-width: 100%;
  text-align: center;
}

.text__image img {
  max-width: 100%;
}

.text__value {}
.text__value p {
  margin: 0px 0px 20px 0px;
}

.nav__icon img:hover {
  border-radius: 100%;
  opacity: 0.5;
}

.nav__icon img{
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

.cards {
  margin: 0px 0 70px 0;
}

.cards__row {
  margin: 0px -15px 20px -15px;
  display: flex;
}

.cards__column {
  flex: 0 1 33.3333%;
  padding: 0px 15px;
}

.cards__image {
  margin: 0px 0px 0px 0px;
  height: 290px;
  overflow: hidden;
  position: relative;
}

.cards__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.cards__video {
  margin: 0px 0px 0px 0px;
  height: 290px;
  overflow: hidden;
  position: relative;
}

.cards__video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.isDisabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}

.photo:hover {
  opacity: 0.5;
}

@keyframes fadeIn {
  100% { opacity:1 }
}

.button {
  padding: 7px;
  background-color: red;
  border-radius: 5pt;
  color: #fff;
}

.button:hover {
  color: black;
  white-space: nowrap;
}

.cards__image .star {
  width: 25px;
  height: 25px;
  background-repeat: repeat;
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 20px;
  left: 20px;

  width: 26px;
  height: 26px;

  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;

  width: 100%;
  height: 2px;

  background-color: #fff;

  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;

  width: 200px;
  height: 100%;

  margin: 0;
  padding: 80px 0;

  list-style: none;

  background-color: #CC0000;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);

  transition-duration: .25s;
}

.menu__item {
  display: block;
  padding: 12px 20px;

  color: #fff;

  font-size: 20px;
  font-weight: 600;

  text-decoration: none;

  transition-duration: .25s;
}
.menu__item:hover {
  background-color: #990000;
}
